.nav-item .nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

.input-group:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2);
}

.form-control:focus {
    box-shadow: none;
}

.btn-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: lightgray;
    box-shadow: 0 0 4px lightgray;
}

.form-group label {
    display: inline-block;
        text-align: left;
}
